{% import '_tree_table.html' as tree_table with context %}
<i>Investor: Reports, analyses, and tools for investments.</i>

<h2>Net worth</h2>
{% set nw = extension.get_net_worth() %}
{% set acc = extension.accounts_config() %}


<table>
    {% for key, value in nw.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>

<div style="font-size: 80%">
    <h4>accounts config</h4>
    <p>value</p>
    {% for account in acc.value %}<p> - {{account}}</p>{%endfor%}
    <p>internal</p>
    {% for account in acc.internal %}<p> - {{account}}</p>{%endfor%}
    <p>external</p>
    {% for account in acc.external %}<p> - {{account}}</p>{%endfor%}
</div>

